header{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;    
    flex-wrap: wrap;
    align-content: stretch;
}
.descuento{
    display: flex;
    box-sizing: border-box;  
    justify-content: flex-start;
    align-items: center;
    background: #D1891C;
    color: #000000;
    height: 3.8rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.1rem;
    padding: 0.8rem;
}
h1{
    display: flex;
    box-sizing: border-box;  
    justify-content: flex-start;
    align-items: center;
    background: #00669F;
    height: 10.1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 4.5rem;
    color: #000000;
    padding: 1.75rem;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2.5rem;
    box-sizing: border-box;
}
.tarjetas{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}
.tarj1{
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: 
    rgba(243, 243, 243, 1);
    background-image: url(../img/fondoBatman.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem 1rem 0rem 0rem;
    width: 18.7rem;
    height: 39.3rem;
    padding: 1rem;
    margin: 1.8rem;
    margin-left: 3.75rem;
}

.fa-solid{
    
    position: absolute;
    box-sizing: border-box;
    display: flex;
    color: red;
    font-size: 1.8rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}
.fotoBatman{
    position: relative;
    top: 7.5rem;
    left: 4.6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5.6rem;
    width: 7.5rem;
    height: 7.3rem;
}
.nombre{
    position: relative;
    top: 8.1rem;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #000000;
    padding: 1rem;
}
p{
    position: relative;
    top: 7.5rem;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #333333;
}
.boton{
    position: relative;
    top: 9rem;
    left: 4.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: #00669F;
    bottom: 2rem;
    
}
.letraBoton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: center;
    color: #F3F3F3;
    padding: 0.6rem;
}
.tarj2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: 
    rgba(243, 243, 243, 1);
    background-image: url(../img/fondoMujerM.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem 1rem 0rem 0rem;
    width: 18.7rem;
    height: 39.3rem;
    padding: 1rem;
    margin: 1.8rem;
    margin-left: 3.75rem;
}

.fotoMujerM{
    position: relative;
    top: 7.5rem;
    left: 4.6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5.6rem;
    width: 7.5rem;
    height: 7.3rem;
}
.nombreM{
    position: relative;
    top: 8.1rem;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #000000;
    padding: 1rem;
}
.tarj3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: 
    rgba(243, 243, 243, 1);
    background-image: url(../img/fondoSuperman.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem 1rem 0rem 0rem;
    width: 18.7rem;
    height: 39.3rem;
    padding: 1rem;
    margin: 1.8rem;
    margin-left: 3.75rem;

}
.fotoSuperman{
    position: relative;
    top: 7.5rem;
    left: 4.6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5.6rem;
    width: 7.5rem;
    height: 7.3rem;
}
.nombreS{
    position: relative;
    top: 8.1rem;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #000000;
    padding: 1rem;
}
.tarj4{    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: 
    rgba(243, 243, 243, 1);
    background-image: url(../img/fondo\ harley.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1rem 1rem 0rem 0rem;
    width: 18.7rem;
    height: 39.3rem;
    padding: 1rem;
    margin: 1.8rem;
    margin-left: 3.75rem;
}
.fotoH{
    position: relative;
    top: 7.5rem;
    left: 4.6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5.6rem;
    width: 7.5rem;
    height: 7.3rem;
}
.nombreH{
    position: relative;
    top: 8.1rem;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #000000;
    padding: 1rem;
}
footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 10.1rem;
    background: #00669F;
    padding: 1rem;

}
.derechos{
    position: relative;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #FFF9F9;
    padding: 12rem;
}
.github{
    position: relative;
      height:4.21rem;
}
#plus{
    width: 55px;
    height: 113px;
    color: #00669F;
    display: flex;
    flex-direction: row ;
    justify-content: flex-end;
    align-items: center;
    
}
@media (min-width:0) and (max-width: 768px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 2.5rem;
        box-sizing: border-box;
    }
    .tarjetas{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
    }
}

@media (min-width:769px) and (max-width:1279px) {
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 2.5rem;
        box-sizing: border-box;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .tarjetas{
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
    }
    
}